.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

button {
  height: 100px;
  width: 100px;
  border-color: black;
  border-width: 1;
  text-size: 3em;
}
body {
  align-items: center;
  
  padding: 100px;
}

.yellow {
  display: flex;
  background-color: rgb(247, 160, 0);
  flex-direction: row;
}

.blue {
  display: flex;
  background-color: rgb(157, 232, 255);
  flex-direction: row;
}

.purple {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 175, 255);

}

h1 {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}